## domain name
DOMAIN_NAME=example.com

DOMAIN_NAME_GIT=git.example.com
DOMAIN_NAME_NEXUS=nexus.example.com

## nexus
NEXUS_HTTP_PORT=8081

## If the server has an external network address, and enable letsencrypt
GITLAB_LETSENCRYPT=true
GITLAB_LETSENCRYPT_RENEW=true
## disable letsencrypt
# GITLAB_LETSENCRYPT=false
# GITLAB_LETSENCRYPT_RENEW=false
GITLAB_HTTP_PORT=80
GITLAB_HTTPS_PORT=443
GITLAB_SSH_PORT=22
GITLAB_ROOT_PASSWORD=gitlab_secret2

## acme.sh
DEPLOY_SSH_SERVER=192.168.20.153
DEPLOY_SSH_KEYFILE=/home/ubuntu/ssl/key.key
DEPLOY_SSH_CERTFILE=/home/ubuntu/ssl/cert.crt
DEPLOY_SSH_CAFILE=/home/ubuntu/ssl/ca.crt
DEPLOY_SSH_FULLCHAIN=/home/ubuntu/ssl/fullchain.crt

## nessus
NESSUS_ACTIVE_CODE=<your code>
NESSUS_USER=root
NESSUS_PASS=password2